@model MyRecipes.Models.Recipe;


@{ 
    Layout = "_Layout";
}

<img style="width:100%" src="@Model.ImageUrl"/>
<h1 style="text-align:center">@Model.Title</h1>
<p style="text-align:center">@Model.Description</p>

<h2>Ingredients</h2>
<p>@Model.Ingredients</p>

<h2>Directions:</h2>
<p>@Model.Directions</p>
